# python data structures
- list
- tuple
- dictionary
- set
- stack
- queue

# list
- collection of elements enclosed by brackets[]
### list operations
- list addition
- replication
- membership test
- slicing
# list methods

In [1]:
l=[]#emptylist

In [2]:
l=[1,2,3,"python",67.48]

In [3]:
type(l)

list

In [4]:
l1=[2,3,4,5,6,7]
l+l1

[1, 2, 3, 'python', 67.48, 2, 3, 4, 5, 6, 7]

In [7]:
a="meena"
s=a.upper()

In [6]:
a

'meena'

In [8]:
s

'MEENA'

In [9]:
l[2]=3

In [10]:
l

[1, 2, 3, 'python', 67.48]

In [11]:
# list menthods
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
l[3]

'python'

In [13]:
l[1:4]

[2, 3, 'python']

In [14]:
l[::-1]

[67.48, 'python', 3, 2, 1]

In [15]:
l.append(26)
l

[1, 2, 3, 'python', 67.48, 26]

In [17]:
l.reverse
l

[26, 67.48, 'python', 3, 2, 1]

In [21]:
l.extend("cse")
l

[26, 67.48, 'python', 3, 2, 1, 'c', 's', 'e']

In [37]:
k=[4,2,7,5]

In [45]:
k.sort()
print(k)
print(l)

[2, 4, 5, 7]
[26, 67.48, 'python', 3, 2, 1, 'c', 's', 'e', [1, 2, 3, 4], [1, 2, 3, 4], [2, 4, 5, 7], [2, 4, 5, 7], 7, [2, 4, 5, 7]]

In [24]:
k

[1, 2, 3, 4]

In [43]:
l.append(k)
l

[26,
 67.48,
 'python',
 3,
 2,
 1,
 'c',
 's',
 'e',
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 4, 5, 7],
 [2, 4, 5, 7],
 7,
 [2, 4, 5, 7]]

In [33]:
l.insert(1,10)
l

[26,
 10,
 10,
 67.48,
 'python',
 3,
 2,
 1,
 'c',
 's',
 'e',
 [1, 2, 3, 4],
 [1, 2, 3, 4]]

In [35]:
l.remove(10)
l

[26, 67.48, 'python', 3, 2, 1, 'c', 's', 'e', [1, 2, 3, 4], [1, 2, 3, 4]]

In [40]:
l.append(k)
l

[26,
 67.48,
 'python',
 3,
 2,
 1,
 'c',
 's',
 'e',
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 4, 5, 7],
 [2, 4, 5, 7]]

In [41]:
l.append(7)

In [42]:
l

[26,
 67.48,
 'python',
 3,
 2,
 1,
 'c',
 's',
 'e',
 [1, 2, 3, 4],
 [1, 2, 3, 4],
 [2, 4, 5, 7],
 [2, 4, 5, 7],
 7]

In [46]:
s=[1,2,3,4]
g=[4,5,6,7]
s.append(g)

In [47]:
s

[1, 2, 3, 4, [4, 5, 6, 7]]

In [77]:
s[4].insert(1,89)
s

IndexError: list index out of range

In [66]:
l.count(89)

0

In [75]:
s[3].remove(4)

In [76]:
s

[1, 2, 3, [89, 89, 89, 89, 89, 89, 5, 6, 7]]

In [79]:
l=[1,2,3,4,[4,5,6,3]]
l[4]

[4, 5, 6, 3]

In [80]:
l.remove(4)

In [81]:
l

[1, 2, 3, [4, 5, 6, 3]]

In [82]:
l[3].remove(4)

In [83]:
l

[1, 2, 3, [5, 6, 3]]

In [84]:
l.reverse()

In [85]:
l

[[5, 6, 3], 3, 2, 1]

In [86]:
l[1]

3

In [87]:
l[0]

[5, 6, 3]

In [89]:
l[0].index(5)

0

In [90]:
li=[1,2,3,4]
h=li.copy()

In [91]:
h

[1, 2, 3, 4]

In [92]:
h.clear()

In [93]:
h

[]

In [94]:
j=li

In [95]:
j

[1, 2, 3, 4]

In [96]:
j.clear()

In [97]:
j

[]

In [98]:
li

[]

In [100]:
l.pop(1)

3

In [101]:
del l

In [102]:
l

NameError: name 'l' is not defined

In [107]:
k=input("enter").split()
for i in k:
    print(i)

enter1 2 3 4 5
1
2
3
4
5

In [106]:
type(k)

list

In [114]:
t=input("enter").split()
for i in range(len(t)):
    print(t[i])

enter2 3 5 6 4
2
3
5
6
4

In [2]:
t=input("enter").split()
t1=input("enter").split()
if len(t)==len(t1):
     l=[]
     for i in range(len(t1)):
        k=int(t[i])+int(t1[i])
        l.append(k) 
     print(l)
else:
     print("unable to perform addition")

enter1 2 3 4 5
enter1 2 3 4 5
[2, 4, 6, 8, 10]

n=int(input("enter n value"))
c=0
j=0
o=0
for i in range(n):
    s=input("enter a string: ").split('.')
    if(s[1]=='com'):
        c=c+1
    elif(s[1]=='in'):
        j=j+1
    elif(s[1]=='org'):
        o=o+1
if(c>j and c>o):
    print(".comis repeated ",c,"times")
elif(j>c and j>o):
    print(".in is repeated",j,"times")
elif(o>j and o>c):
    print(".org is repeated ",o,"times")
elif(o==j and o>c):
    print(".org and .in are repeated same no. of times",o)
elif(c==o and c>j):
    print(".in and .com are repeated same no of times",j)
elif(c==j and c>o):
    print(".in and .org are repeated same no of times",c)
else:
    print("all are repeated same no of times")

In [31]:
n=input("enter n value").split(' ')
s=0
for i in range(len(n)):
           if(n[i].isdigit()):
             s=s+int(n[i])
print(s)

enter n value123 dffg 123 fj
246

# tuple
- similar to list
- enclosed by paranthesis ()
- immutable
# tuple methods
- count(),index()

In [32]:
t=(1,2,3,4,5)

In [33]:
type(t)

tuple

In [34]:
t[1:4]

(2, 3, 4)

In [35]:
t*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [36]:
t.index(3)

2

In [37]:
t.count(2)

1

In [38]:
l=list(t)
l

[1, 2, 3, 4, 5]

In [40]:
t=tuple(l)
t

(1, 2, 3, 4, 5)

In [5]:
t=int(input("enter no of test cases"))
while(t>0):
    s=input("enter name").split()
    l=list(s[1])
    print(l[0]+"."+s[0])
    t=t-1

enter no of test cases2
enter namepavani gudipudi
g.pavani
enter nameusha kondru
k.usha

# sets
- collection of distinct elements
- enclosed by curly braces{}
- mutable

In [41]:
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [42]:
s.add(7)

In [43]:
s

{1, 2, 3, 4, 5, 7}

In [44]:
s.remove(7)

In [45]:
s

{1, 2, 3, 4, 5}

In [49]:
s1={1,2,3,4,4,5,5,5}
s.update(s1)

In [50]:
s

{1, 2, 3, 4, 5}

In [55]:
s.discard(4)

In [56]:
s

{1, 2, 3, 5}

In [61]:
s={1,2,3,4,5,9,45,35}
s1={1,3,4,545,23,98}
print(s.difference(s1))
print(s1.difference(s))

{2, 35, 5, 9, 45}
{545, 98, 23}

In [62]:
s.difference_update(s)

In [63]:
s

set()

In [64]:
s1={1,3,5,7,9}
s2={2,4,6,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [67]:
s1={1,2,3,5,7,11}
s2={1,2,3,4,6,8,10}
s1.intersection(s2)
s1.intersection_update(s2)

In [68]:
s1

{1, 2, 3}

In [72]:
s={'a','b','c'}
s1={1,2,3,"a","b","c"}
print(s1.issubset(s2))
s2.issuperset(s1)

False

False

In [73]:
s1.isdisjoint(s2)

False

In [74]:
s1={1,2,3}
s2={4,5,6}
s1.isdisjoint(s2)

True

In [75]:
s1={1,2,3,4,5,9,45,35}
s2={1,3,4,545,98}
s1.symmetric_difference(s2)

{2, 5, 9, 35, 45, 98, 545}

In [76]:
s1.symmetric_difference_update(s2)
s1

{2, 5, 9, 35, 45, 98, 545}

In [77]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [78]:
s=s2.copy()
s

{1, 3, 4, 98, 545}

In [83]:
s.pop()

98

In [82]:
s

{3, 4, 98}

In [80]:
s.remove(545)

In [81]:
s

{3, 4, 98}

In [84]:
s.discard(4)

In [85]:
s

{3}

In [88]:
s.add(26)
s

{3, 26}

# dictionary
- keyvalue pair
- collection of unorder elements of different data types with unique keys
# dictionary methods

In [90]:
d={"key1":1,"key2":2}
d["key2"]

2

In [91]:
d["key3"]="two"

In [92]:
d

{'key1': 1, 'key2': 2, 'key3': 'two'}

In [93]:
d.get("key1")

1

In [97]:
d.update({"mstp":"level2"})
d

{'key1': 1, 'key2': 2, 'key3': 'two', 'mstp': 'level2'}

In [98]:
d.update({"digits":[1,2,3,4,5,6,7,8,9]})

In [99]:
d

{'key1': 1,
 'key2': 2,
 'key3': 'two',
 'mstp': 'level2',
 'digits': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [100]:
d.keys()

dict_keys(['key1', 'key2', 'key3', 'mstp', 'digits'])

In [102]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 'two'), ('mstp', 'level2'), ('digits', [1, 2, 3, 4, 5, 6, 7, 8, 9])])

In [103]:
d.values()

dict_values([1, 2, 'two', 'level2', [1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [105]:
h={}
h.setdefault("1",4)

4

In [106]:
h

{'1': 4}

In [110]:
h.fromkeys("hello",23)

{'h': 23, 'e': 23, 'l': 23, 'o': 23}

In [112]:
d

{'key1': 1,
 'key2': 2,
 'key3': 'two',
 'mstp': 'level2',
 'digits': [1, 2, 3, 4, 5, 6, 7, 8, 9]}

In [113]:
d.pop("key3")

'two'

In [114]:
d.popitem()

('digits', [1, 2, 3, 4, 5, 6, 7, 8, 9])

In [1]:
n=int(input("enter no of values"))
d={}
while(n>0):
    rollno=input("enter rollno")
    name=input("enter name")
    branch=input("enter branch")
    d.update({rollno:(name,branch)})
    n=n-1
d

enter no of values2
enter rollno526
enter namemeena
enter branchcse
enter rollno528
enter namepavani
enter branchcse

{'526': ('meena', 'cse'), '528': ('pavani', 'cse')}

#  regular expresions
- string manipulation tool
- all modern languages have similar packages for regular expressions
- also known as "regex"or"regexp" or "re"
- provides a concise and flexible means for matching strings of text,such as special characters ,words ,or patterns of characters

#  regular expression quick guide
1. ^ matches the begining of a line
2. $ matches the end of a line
3. . matches any character
4. \s matches white space
5. \S matches any non-white space
6.*repeates the character zero or more times
7. +repeates the character one or more times
8. [aeiou] matches a single character in the listed set
9. [^xyz] matches a single character not in the listedset
10. [a-z0-9] the set of characters can include a range

# regular expression methods
1. re.match()- searchs for a match only at the begining of a string
2. re.findall()- returns a match object when the pattern is found or else not match if the pattern is not found
3. re.search()-returns a list of all matches in a single step

In [6]:
import re
re.match('p',"python")

In [9]:
re.search('n',"python")

In [10]:
re.search("o","workshop")

In [11]:
re.findall("o","workshop")

['o', 'o']